<h4 class="cart-title">全部商品</h4>

<%= form_tag checkout_path, method: 'put' do %>
  <div class="table-responsive">
    <table class="table bg-gray">
      <thead>
        <tr>
          <th></th>
          <th>商品信息</th>
          <th>单价（元）</th>
          <th>数量</th>
          <th>小计（元）</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% 2.times do %>
          <tr>
            <td class="text-center">
              <input type="checkbox">
            </td>
            <td class="product-item">
              <%= link_to product_path(:fake_id) do %>
                <%= image_tag 'http://placehold.it/100?text=缩略图', class: 'img-thumbnail' %>
              <% end %>
              <p>
                <%= link_to '科勒水槽', product_path(:fake_id) %> 套餐：A
              </p>
            </td>
            <td>421</td>
            <td>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><%= fa_icon 'minus' %></button>
                </span>
                <input type="text" class="form-control product-count" value="2">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><%= fa_icon 'plus' %></button>
                </span>
              </div>
            </td>
            <td>842元</td>
            <td>
              <%= link_to '#', class: 'remove-cart-item' do %>
                <%= fa_icon 'trash' %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr class="blank">
          <td colspan="6"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-center"><input type="checkbox"></td>
          <td>全选</td>
          <td colspan="4" class="text-right">
            已选商品 3 件
            <span class="cart-amount">合计：<i class="text-yellow">￥1021.00</i></span>
            <input type="submit" value="结算" class="btn-brown">
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<% end %>