<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    <div class="personal-info">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <%= image_tag 'http://placehold.it/120?text=头像', class: 'img-circle avatar' %>
          <ul class="list-unstyled">
            <li><label>姓名</label><span>李斌</span></li>
            <li><label>性别</label><span>男</span></li>
            <li><label>积分</label><span>1200</span></li>
            <li><label>手机号</label><span>132 3235 6478</span></li>
            <li><label>邮箱</label><span>abcd@qq.com</span></li>
          </ul>
          <a href="#" class="btn-round btn-edit-profile">编辑/查看个人信息</a>
        </div>
      </div>
    </div>

    <div class="item-list">
      <h5>我的装修项目列表</h5>

      <div class="item">
        <p class="state"><%= fa_icon 'file-o' %> 状态：已废弃</p>
        <ul class="list-unstyled">
          <li>装修公司：乐屋家装有限公司</li>
          <li>装修地址：上海市浦东新区春晓路80号</li>
          <li>项目经理：Leon</li>
          <li>设计师：Matt</li>
        </ul>
        <%= link_to '点击查看详情', item_path(:fake_id) %>
      </div>

      <div class="item">
        <p class="state"><%= fa_icon 'file-o' %> 状态：进行中</p>
        <ul class="list-unstyled">
          <li>装修公司：乐屋家装有限公司</li>
          <li>装修地址：上海市浦东新区春晓路80号</li>
          <li>项目经理：Leon</li>
          <li>设计师：Matt</li>
        </ul>
        <%= link_to '点击查看详情', item_path(:fake_id) %>
      </div>
    </div>
  </div>

  <div class="col-sm-3 col-sm-pull-9">
    <div class="profile-sidebar">
      <h5>个人中心</h5>
      <ul class="list-unstyled">
        <li>
          <%= link_to '我的装修', profile_path %>
        </li>
        <li>
          <%= link_to '我的订单', orders_path %>
        </li>
        <li>
          <%= link_to '我的资料', '#' %>
        </li>
      </ul>
    </div>
  </div>
</div>

