<footer class="footer-wrap">
  <div class="row">
    <div class="col-sm-4">
      <h4>关于我们</h4>
      <ul class="list-unstyled">
        <li><a href="#">公司简介</a></li>
        <li><a href="#">资本支持</a></li>
        <li><a href="#">关于我们</a></li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>联系方式</h4>
      <ul class="list-unstyled">
        <li>上海市浦东新区张江高科技园区999号</li>
        <li>电话：13312341234</li>
        <li>电子邮件：kefu@lewoo.com</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>合作伙伴</h4>
      <ul class="list-unstyled">
        <li><a href="#">XXX</a></li>
        <li><a href="#">YYY</a></li>
        <li><a href="#">ZZZ</a></li>
      </ul>
    </div>
  </div>
  <p>&copy; 2015 Lewoo &reg; The new way to design your home &trade;</p>
</footer>