<header>
  <nav class="navigation navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_links" aria-expanded="false">
        <span class="sr-only">切换导航菜单</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lewoo</a>
    </div>
    
    <div class="avatar-menu dropdown pull-right">
      <a href="#" class="avatar dropdown-toggle" data-toggle="dropdown"><%= fa_icon :user %></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to '个人中心', profile_path %>
        </li>
        <li><a href="#">消息 <span class="badge pull-right">4</span></a></li>
        <li><a href="#">退出</a></li>
      </ul>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="nav_links">
      <ul class="nav navbar-nav">
        <%= nav_link '首页', root_path, name: 'home' %>
        <%= nav_link '商城', mall_path, name: 'mall' %>
        <%= nav_link '购物车', shopping_cart_path, name: 'cart', class: 'cart-link' do %>
          <strong style="font-size: 10px">2</strong>
        <% end %>
        <%= nav_link '主材包', materials_path, name: 'material' %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</header>