<form>
  <div class="form-group">
    <label class="sr-only" for="search">搜索</label>
    <div class="input-group input-search">
      <input type="text" class="form-control" name="q" id="q" placeholder="搜索">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><%= fa_icon :search %></button>
      </span>
    </div>
  </div>
</form>