<h4 class="sidebar-title">建筑材料分类</h4>
<dl class="category-links">
  <dt>类别</dt>
  <dd>
    <a href="#">五金建材</a>
    <a href="#">灯</a>
    <a href="#">卫生间</a>
    <a href="#">厨房用品</a>
    <a href="#">墙砖</a>
    <a href="#">家具</a>
    <a href="#">家用电器</a>
  </dd>

  <dt>品牌</dt>
  <dd>
    <a href="#">西门子</a>
    <a href="#">科勒</a>
    <a href="#">大自然</a>
    <a href="#">欧普</a>
    <a href="#">方太</a>
    <a href="#">能率绿</a>
    <a href="#">欧派</a>
  </dd>
</dl>