<section class="box">
  <table>
    <tr>
      <td>订单号：1150704790002546</td>
      <td>李斌</td>
      <td>在线支付</td>
      <td>订单金额：78.00元</td>
    </tr>
    <tr class="border-row">
      <td>
        <%= fa_icon 'file-o' %> 状态：已出库
      </td>
      <td colspan="2">下单时间：2015年07月05日 08:32</td>
      <td>
        <%= link_to '订单详情', order_path(:fake_id), class: 'btn-brown' %>
      </td>
    </tr>
  </table>
  <ul class="product-list list-unstyled">
    <% 2.times do %>
      <li>
        <%= link_to product_path(:fake_id) do %>
          <%= image_tag 'http://placehold.it/100?text=缩略图', class: 'img-thumbnail' %>
        <% end %>
        <p>
         <%= link_to '科勒水槽', product_path(:fake_id) %> 29元*1
        </p>
      </li>
    <% end %>
  </ul>
</section>

<section class="box">
  <table>
    <tr>
      <td>订单号：1150704790002546</td>
      <td>李斌</td>
      <td>在线支付</td>
      <td>订单金额：78.00元</td>
    </tr>
    <tr class="border-row">
      <td>
        <%= fa_icon 'file-o' %> 状态：已收货（包裹1）
      </td>
      <td colspan="2">收货时间：2015年07月05日 08:32</td>
      <td>
        包裹金额：<span class="text-yellow">2170.00元</span>
      </td>
    </tr>
  </table>
  <ul class="product-list list-unstyled">
    <% 2.times do %>
      <li>
        <%= link_to product_path(:fake_id) do %>
          <%= image_tag 'http://placehold.it/100?text=缩略图', class: 'img-thumbnail' %>
        <% end %>
        <p>
         <%= link_to '科勒水槽', product_path(:fake_id) %> 29元*1
        </p>
      </li>
    <% end %>
  </ul>
  <table>
    <tr class="border-row">
      <td>
        <%= fa_icon 'file-o' %> 状态：已收货（包裹2）
      </td>
      <td colspan="2">收货时间：2015年07月05日 08:32</td>
      <td>
        包裹金额：<span class="text-yellow">2170.00元</span>
      </td>
    </tr>
  </table>
  <ul class="product-list list-unstyled">
    <li>
      <%= link_to product_path(:fake_id) do %>
        <%= image_tag 'http://placehold.it/100?text=缩略图', class: 'img-thumbnail' %>
      <% end %>
      <p>
       <%= link_to '科勒水槽', product_path(:fake_id) %> 29元*1
      </p>
    </li>
  </ul>
</section>

