<%= form_tag orders_path, method: 'post' do %>
  <dl class="checkout-box">
    <dt>收货地址</dt>
    <dd>
      <p>上海市浦东新区春晓路18号</p>
      <p>李斌 138 2239 3213</p>
    </dd>
  </dl>

  <dl class="checkout-box">
    <dt>发票信息</dt>
    <dd>
      <ul class="invoice-list list-unstyled">
        <li>
          <label>
            <input type="checkbox"> 开具发票 发票抬头：个人
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox"> 开具发票 发票抬头：公司
          </label>
        </li>
      </ul>
      <a href="#" class="text-yellow btn-edit-invoice">修改</a>
    </dd>
  </dl>

  <dl class="checkout-box">
    <dt>确认装修公司</dt>
    <dd>
      <ul class="verify-list list-unstyled">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consectetur!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et rem, corrupti aliquam blanditiis.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, delectus, fugit. Molestias maiores velit fugiat voluptates.</li>
        <li>
          <label>
            <input type="checkbox"> 确认以上信息正确无误
          </label>
        </li>
      </ul>
    </dd>
  </dl>

  <div class="table-responsive">
    <table class="table bg-gray">
      <thead>
        <tr>
          <th>商品信息</th>
          <th>单价（元）</th>
          <th>数量</th>
          <th>小计（元）</th>
        </tr>
      </thead>
      <tbody>
        <% 2.times do %>
          <tr>
            <td class="product-item">
              <%= link_to product_path(:fake_id) do %>
                <%= image_tag 'http://placehold.it/100?text=缩略图', class: 'img-thumbnail' %>
              <% end %>
              <p>
                <%= link_to '科勒水槽', product_path(:fake_id) %> 套餐：A
              </p>
            </td>
            <td>421</td>
            <td>2</td>
            <td>842元</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-right">
            商品总价：<i class="text-yellow">￥1021.00</i>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <dl class="checkout-box">
    <dt>配送方式</dt>
    <dd>
      <ul class="shipment-list list-unstyled">
        <li>
          <label><input type="radio"> 尽快发货</label>
        </li>
        <li>
          <label><input type="radio"> 按装修公司设定批次自动选择发货时间</label>
          <ol>
            <li>
              第一批
              <div class="input-group pull-right date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><%= fa_icon 'calendar' %></button>
                </span>
              </div>
            </li>
            <li>
              第二批
              <div class="input-group pull-right date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><%= fa_icon 'calendar' %></button>
                </span>
              </div>
            </li>
            <li>
              第三批
              <div class="input-group pull-right date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><%= fa_icon 'calendar' %></button>
                </span>
              </div>
            </li>
          </ol>
        </li>
      </ul>
    </dd>
  </dl>

  <input type="submit" class="btn-brown" value="提交订单">
<% end %>

