<dl class="payment-box">
  <dt class="hidden">提示信息</dt>
  <dd>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias soluta qui odit, accusantium unde odio.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p class="payment-amount">应付总额：<span class="text-yellow">1899.00元</span></p>
  </dd>
</dl>

<dl class="payment-box">
  <dt>请选择付款方式</dt>
  <dd>
    <ul class="list-unstyled">
      <li>
        <label>
          <input type="checkbox"> 货到付款
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox"> 线上支付
        </label>
      </li>
    </ul>
  </dd>
</dl>

<dl class="payment-box">
  <dt>支付方式</dt>
  <dd class="goto-pay">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" data-toggle="tab">平台支付</a></li>
        <li><a href="#profile" data-toggle="tab">储蓄卡支付</a></li>
        <li><a href="#messages" data-toggle="tab">信用卡支付</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <label><input type="radio"> 支付宝</label>
          <label><input type="radio"> 易宝支付</label>
        </div>
        <div class="tab-pane" id="profile">...</div>
        <div class="tab-pane" id="messages">...</div>
      </div>

    </div>
  </dd>
</dl>

<div class="clearfix">
  <button type="button" class="btn-brown pull-right" data-toggle="modal" data-target="#myModal">
    付款
  </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">恭喜</h4>
      </div>
      <div class="modal-body">
        支付成功！
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>