<div class="owl-carousel owl-theme one-item-slide">
  <% 4.times do |idx| %>
    <div>
      <%= link_to 'javascript:void(0)' do %>
        <%= image_tag "http://placehold.it/600x300?text=图片#{idx}" %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="time-limit-sale">
  <h3 class="title">限时秒杀</h3>
  <div class="row">
    <% 4.times do |i| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to product_path(:fake_id) do %>
            <%= image_tag 'http://placehold.it/250x300?text=展示图' %>
          <% end %>
          <div class="caption">
            <%= link_to '商品名称', product_path(:fake_id), class: 'truncate' %>
          </div>
          <div class="meta">
            <div>剩余时间：2小时53分钟2秒</div>
            <div class="prices">
              <span class="original-price">￥原价</span>
              <span class="sale-price">￥现价</span>
            </div>
            <%= link_to '立即购买', '#', class: 'btn-buy' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="brand">
  <h3  class="title">特价品牌</h3>
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <%= image_tag 'http://placehold.it/800x400?text=品牌图片', class: 'img-responsive' %>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <dl>
        <dt class="brand-name">MUJI</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, est! Saepe sequi consequatur nemo, aperiam cum quod soluta dignissimos nulla deserunt, tempora debitis veniam excepturi? Perspiciatis debitis autem similique enim, hic minus vel dolorum odio earum, repellat sit quasi qui quidem ex sapiente fugit quam unde consequuntur, voluptate nisi temporibus commodi perferendis dignissimos error porro. Nesciunt cupiditate accusantium, molestiae vel expedita. Voluptate autem facilis laborum, eum minima, atque eius hic deleniti magni culpa perferendis ab animi! Corporis dolore accusantium nesciunt molestiae soluta, qui at repellat voluptate repudiandae quam, labore minus quod aliquam nisi ea asperiores reiciendis culpa modi. Quos, earum.</dd>
      </dl>
      <div>
        <em>8折优惠</em> <strong>20%</strong>
      </div>
    </div>
  </div>
</div>
