<div class="item-details">
  <dl>
    <dt>装修项目详情</dt>
    <dd class="box">
      <ul class="list-unstyled">
        <li>装修公司：乐屋家装有线公司</li>
        <li>装修地址：上海市浦东新区春晓路180号</li>
        <li>装修开始时间：2015-01-23</li>
        <li>装修结束时间：2015-08-06</li>
        <li>项目经理：Leon</li>
        <li>设计师：Matt</li>
      </ul>
      <%= link_to '修改', '#', class: 'edit-item' %>
    </dd>
  </dl>

  <dl>
    <dt>装修主材清单</dt>
    <dd>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>送货批次</th>
              <th>商品信息</th>
              <th>单价</th>
              <th>数量</th>
              <th>商品总价</th>
              <th>运费</th>
              <th>上楼费</th>
              <th>总计</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">A</td>
              <td class="item-info">
                <a href="#"><img src="http://placehold.it/128?text=商品图"></a>
                <ul class="list-unstyled">
                  <li>科勒水槽</li>
                  <li>套餐：A</li>
                </ul>
              </td>
              <td>￥1899</td>
              <td>1</td>
              <td>￥1899</td>
              <td rowspan="2">￥150</td>
              <td rowspan="2">￥150</td>
              <td rowspan="2">￥4200</td>
            </tr>
            <tr>
              <td class="text-center">B</td>
              <td class="item-info">
                <a href="#"><img src="http://placehold.it/128?text=商品图"></a>
                <ul class="list-unstyled">
                  <li>科勒水槽</li>
                  <li>套餐：A</li>
                </ul>
              </td>
              <td>￥1899</td>
              <td>1</td>
              <td>￥1899</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>运费</td>
              <td class="price">1899.00元</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>上楼费</td>
              <td class="price">299.00元</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>总计金额</td>
              <td class="price">4200元</td>
            </tr>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>

  <dl>
    <dt>装修主材清单</dt>
    <dd>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>品类</th>
              <th>品牌</th>
              <th>商品</th>
              <th>Sku</th>
              <th>规格</th>
              <th>工程算量数量</th>
              <th>工程算量单位</th>
              <th>计算规则</th>
              <th>数量</th>
              <th>单位</th>
              <th>单价</th>
              <th>合计</th>
              <th>使用单位</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <% 7.times do %>
              <tr class="<%= cycle '', 'alt' %>">
                <td>陶瓷 <span class="caret"></span></td>
                <td>kohler <span class="caret"></span></td>
                <td>瓷砖</td>
                <td>件</td>
                <td class="text-gray">红色</td>
                <td>100</td>
                <td class="text-gray">个</td>
                <td>1平方两块砖</td>
                <td>100</td>
                <td class="text-gray">个</td>
                <td class="text-gray">￥20</td>
                <td class="text-gray">￥2000</td>
                <td>厨房</td>
                <td>补货</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
</div>
