.checkout-box {
  margin-bottom: 40px;
  dt {
    font-size: 18px;
    margin-bottom: 20px;
  }
  dd {
    padding: 15px;
    position: relative;
    background: rgba(247, 248, 251, 1.0);
    .invoice-list {
      label {
        font-weight: normal;
        cursor: pointer;
      }
    }
    .btn-edit-invoice {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
    li {
      margin: 15px 0;
    }
    .shipment-list {
      ol {
        list-style: none;
        .input-group {
          max-width: 200px;
          min-width: 150px;
        }
        li {
          margin: 30px 0;
        }
      }
    }
  }
}

.payment-box {
  margin-bottom: 40px;
  dt {
    font-size: 18px;
    margin-bottom: 20px;
  }
  dd {
    padding: 15px;
    position: relative;
    background: rgba(247, 248, 251, 1.0);
    .payment-amount {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
    &:not(.goto-pay) li {
      margin: 15px 0;
    }
    .tab-pane {
      padding: 20px;
      label {
        margin-right: 20px;
      }
    }
  }
}