@import "bootstrap/variables";

.sidebar-title {
  margin-bottom: 20px;
}
 
.navigation {
  .cart-link {
    position: relative;
    strong:not(:empty) {
      right: 0;
      top: 1px;
      background: #F44F40;
      text-align: center;
      color: #FFF;
      min-width: 18px;
      height: 18px;
      line-height: 18px;
      border-radius: 50%;
      border-bottom-left-radius: 0;
      position: absolute;
    }
  }
  .navbar-collapse {
    padding: 0;
  }
  .avatar-menu {
    margin-right: 15px;
    a.avatar {
      display: block;
      border-radius: 50%;
      background: #4D342E;
      width: 36px;
      height: 36px;
      margin: 7px 0;
      padding: 0;
      color: #FFF !important;
      line-height: 36px;
      text-align: center;
      &:hover {
        color: #FFF;
        background: #FD8A3A !important;
      }
      &:focus {
        background: #FD8A3A !important;
      }
    }
    .dropdown-menu {
      right: -15px;
    }
  }

  @media all and (max-width: $grid-float-breakpoint - 1) {
    .cart-link {
      strong:not(:empty) {
        display: inline-block;
        border-radius: 50%;
        right: 15px;
        top: 10px;
      }
    }
    .avatar-menu {
      position: absolute;
      right: 60px;
      top: 0;
      .dropdown-menu {
        right: -75px;
      }
    }
    .navbar-collapse {
      padding: 0 15px;
      float: none !important;
    }
  }
}

.footer-wrap {
  margin-top: 30px;
  li {
    line-height: 2;
  }
}

.page-home {
  .title {
    margin-bottom: 40px;
  }
  .time-limit-sale {
    img {
      width: 100%;
    }
    .caption {
      font-size: 1.2em;
    }
    .meta {
      padding: 0 9px 5px;
    }
    .prices {
      margin: 9px 0;
      font-size: 1.3em;
    }
    .original-price {
      text-decoration: line-through;
    }
    .sale-price {
      color: #FD8A3A;
    }
    .btn-buy {
      display: block;
      background: #4D342E;
      text-align: center;
      line-height: 36px;
      border-radius: 18px;
      color: #FFF;
      font-size: 1.2em;
      margin: 15px 0 5px;
    }
  }
  .brand {
    background: #F7F8FB;
    padding: 20px;
    .brand-name {
      font-size: 1.5em;
    }
    em, strong {
      font-size: 1.4em;
      font-style: normal;
      font-weight: bold;
    }
    strong {
      color: #FD8A3A;
    }
  }
}