.item-details {
  dt {
    margin: 50px 0 20px;
  }

  dd {
    margin-bottom: 50px;
    &.box {
      padding: 25px;
      position: relative;
      background: rgba(247, 248, 251, 1.0);
      ul {
        line-height: 2;
      }
      .edit-item {
        right: 25px;
        top: 25px;
        position: absolute;
        color: rgba(252, 183, 92, 1.0);
      }
    }
    table {
      width: 100%;
      thead {
        line-height: 40px;
        color: #FFF;
        background: rgba(158, 142, 142, 1.0);
      }
      tbody {
        background: rgba(247, 248, 251, 1.0);
      }
      th {
        text-align: center;
        vertical-align: middle;
      }
      td {
        padding : 15px;
        border: none;
        white-space: nowrap;
        vertical-align: middle;
      }
    }
    .item-info {
      ul {
        display: inline-block;
        margin-left: 10px;
        line-height: 1.5;
      }
    }
    .price {
      color: rgba(252, 161, 117, 1.0);
    }
    tr.alt {
      background: rgba(241, 242, 245, 1.0);
    }
  }
}

.text-gray {
  color: rgba(168, 163, 164, 1.0);
}