.material-list {
  tbody {
    border: none !important;
  }
  th {
    white-space: nowrap;
  }
  a {
    text-decoration: none;
    color: #000;
    white-space: nowrap;
  }
}

.selected-product {
  display: block;
  cursor: pointer;
}

.related-products {
  td {
    padding: 0px 40px !important;
  }

  .inner-wrap {
    width: 620px;
    margin: auto;
    position: relative;
  }

  .owl-theme {
    .owl-nav {
      margin: 0;
    }
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      padding: 0;
      margin: 0;
      margin-top: -15px;
      i {
        display: block;
        width: 30px;
        height: 30px;
        font-size: 30px;
      }
    }
    .owl-prev {
      left: -35px;
    }
    .owl-next {
      right: -35px;
    }
  }

  label {
    margin: 0;
  }

  img {
    cursor: pointer;
  }

  input:checked + img {
    border: 1px red solid;
    cursor: default;
  }
}

.material-sku {
  width: 6em;
}

.btn-add-material {
  font-size: 18px;
  i {
    font-size: 20px;
  }
}