section.box {
  padding: 15px;
  margin: 40px 0;
  background: rgba(247, 248, 251, 1.0);
  table {
    width: 100%;
  }
  tr.border-row {
    border: 1px rgba(231, 229, 232, 1.0) solid;
    border-left: none;
    border-right: none;
  }
  td {
    padding: 15px 0;
  }
  .product-list {
    li {
      margin-top: 15px; 
      * {
        vertical-align: middle;
      }
    }
    p {
      margin: 0  0 0 20px;
      display: inline-block;
      a {
        display: block;
      }
    }
  }
}

.btn-brown {
  background: #4D342E;
  text-align: center;
  border: none;
  border-radius: 15px;
  color: #FFF;
  font-size: 1.1em;
  padding: 6px 45px;
}

.text-yellow {
  color: #fcb65e;
}