.category-links {
  background: #F8F8F8;
  padding: 15px;
  dt {
    font-size: 1.2em;
  }
  dd {
    margin: 15px 0;
  }
  a {
    display: block;
    padding: 5px 0;
    &:hover {
      color: #FD8A3A;
      text-decoration: none;
    }
  }
}

.input-search {
  width: 100%;

  input.form-control:first-child,
  .input-group-btn:last-child {
    border-radius: 500px;
  }

  .input-group-btn {
    button {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 0;
    }

    &:last-child button {
      left: auto;
      right: 0;
    }

    .btn {
      background: transparent !important;
    }
    .btn-default {
      color: #ccc;
    }
    .btn {
      padding-left: 15px;
    }
  }
}

.product-list {
  .newest-product {
    position: relative;
    overflow: hidden;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      color: #FFF;
      z-index: 1;
      width: 0;
      height: 0;
      border: 25px #7BC566 solid;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    &:after {
      content: 'new';
      position: absolute;
      color: #FFF;
      z-index: 2;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 15px;
      line-height: 35px;
      width: 30px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .thumbnail .caption {
    padding: 15px 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .prices {
    position: relative;
    padding: 0 10px 10px;
    line-height: 30px;
  }

  .original-price {
    font-size: 0.9em;
    text-decoration: line-through;
  }

  .sale-price {
    color: #FD8A3A;
  }

  .add-to-cart {
    border-radius: 50%;
    background: #A37F68;
    color: #FFF;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 0;
    
    &:hover {
      color: #FD8A3A;
    }

    i {
      font-size: 15px;
    }
  }
}

.product-meta {
  dl {
    margin: 20px 0;
  }
  dt, dd {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.1em;
    white-space: nowrap;
  }
  dt {
    padding-right: 30px;
  }
  label {
    cursor: pointer;
    margin-right: 12px;
    input {
      display: none;
      &:checked {
        ~ span {
          color: #FDBD75;
          border-color: #FDBD75;
        }
      }
    }
    span {
      display: inline-block;
      padding: 5px;
      border-radius: 3px;
      border: 1px black solid;
    }
  }
  .original-price {
    text-decoration: line-through;
  }
  .sale-price {
    color: red;
  }
}

.btn-round {
  display: inline-block;
  background: #4D342E;
  text-align: center;
  border: none;
  border-radius: 15px;
  color: #FFF;
  font-size: 1.1em;
  padding: 6px 45px;
}

h3.title {
  margin: 30px 0 40px; 
}

.product-detail {
  table {
    margin: 20px 0;
    font-size: 1.1em;
  }
}

.recommendation {
  a {
    display: block;
    img {
      width: 100%;
    }
  }
  figure {
    position: relative;
    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px 0;
      text-align: left;
      font-size: 1.1em;
      text-indent: 15px;
      color: #FFF;
      background: rgba(140, 130, 130, 0.7);
    }
  }
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}