.profile-sidebar {
  h5, ul {
    padding-left: 15px;
    margin: 25px 0;
  }
  ul {
    background: rgba(249, 249, 252, 1.0);
    li {
      padding: 10px 0;
      a {
        display: block;
      }
    }
  }
}

.personal-info {
  .avatar {
    display: block;
    margin: 30px auto;
  }
  ul {
    margin-left: 80px;
  }
  li {
    line-height: 2;
    label, span {
      display: table-cell;
    }
    label {
      width: 5em;
    }
  }
  .btn-edit-profile {
    display: block;
    margin: 30px auto;
    max-width: 230px;
  }
}

.item-list {
  .item {
    background: rgba(249, 249, 252, 1.0);
    margin: 20px 0 40px;
    padding: 25px;
    li {
      line-height: 2;
    }
    a {
      color: rgba(252, 182, 94, 1.0);
    }
  }
}
