.cart-title {
  margin-bottom: 30px;
}

table.bg-gray {
  // table-layout: fixed;
  thead {
    line-height: 40px;
    color: #FFF;
    background: #9e8e8e;
    th {
      vertical-align: middle;
    }
  }
  tbody, tfoot {
    background: #f7f8fb;
  }
  tfoot {
    line-height: 30px;
  }
  td {
    border: none !important;
    vertical-align: middle !important;
    .input-group {
      max-width: 200px;
      min-width: 150px;
    }
  }
}

tr.blank {
  height: 40px;
  background: #FFF;
}

.product-item {
  white-space: initial !important;
  * {
    vertical-align: middle;
  }
  p {
    margin: 0 0 0 20px;
    display: inline-block;
    a {
      display: block;
    }
  }
}

.remove-cart-item {
  font-size: 25px;
}

.cart-amount {
  margin: 0 20px;
}