<tbody>
  <tr class="<%= cycle '', 'alt' %>">
    <td>
      <%= select_tag 'category', options_from_collection_for_select(@categories, :id, :name), include_blank: '请选择', class: 'selectpicker material-category', data: {width: 'auto', container: 'body'} %>
    </td>
    <td>
      <%= select_tag 'brand', options_from_collection_for_select(@brands, :id, :name), include_blank: '请选择', class: 'selectpicker material-brand', data: {width: 'auto', container: 'body'} %>
    </td>
    <td>
      <span class="selected-product"><!-- 瓷砖 <i class="caret"></i> --></span>
    </td>
    <td>
      <input name="sku" class="material-sku" type="text" />
    </td>
    <td class="text-gray">红色</td>
    <td>100</td>
    <td class="text-gray">个</td>
    <td>1平方两块砖</td>
    <td>100</td>
    <td class="text-gray">个</td>
    <td class="text-gray">￥20</td>
    <td class="text-gray">￥2000</td>
    <td>厨房</td>
    <td>补货</td>
    <td>
      <%= link_to material_path(:fake_id), remote: true, method: 'delete', class: 'remove-material-item', data: {confirm: '您确定要删除吗？'} do %>
        <%= fa_icon 'trash-o' %>
      <% end %>
    </td>
  </tr>

  <tr class="related-products">
    <td colspan="15"></td>
  </tr>
</tbody>