<label>
  <input type="radio" class="hidden selected-image" name="<%= uuid %>" value="<%= product.id %>" data-name="<%= product.name %>" data-sku="<%= product.sku %>">
  <img class="owl-lazy" data-src="http://placehold.it/100?text=<%= product.name %>">
</label>