<div class="material-list table-responsive">
  <table class="table bg-gray material-table">
    <thead>
      <tr>
        <th>品类</th>
        <th>品牌</th>
        <th>商品</th>
        <th>Sku</th>
        <th>规格</th>
        <th>工程算<br>量数量</th>
        <th>工程算<br>量单位</th>
        <th>计算规则</th>
        <th>数量</th>
        <th>单位</th>
        <th>单价</th>
        <th>合计</th>
        <th>使用单位</th>
        <th>备注</th>
        <th></th>
      </tr>
    </thead>
    <% 7.times do %>
      <%= render 'material' %>
    <% end %>
  </table>
</div>

<%= link_to new_material_path, remote: true, class: 'btn btn-link btn-add-material' do %>
  <%= fa_icon 'plus-circle' %> 添加选定品类
<% end %>