<div class="row">
  <div class="col-sm-9 col-sm-push-3">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <%= render 'shared/search' %>
      </div>
    </div>

    <div class="row product-list">
      <% 12.times do |i| %>
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <%= link_to product_path(:fake_id), class: "#{'newest-product' if i < 3}" do %>
              <%= image_tag 'http://placehold.it/768?text=展示图' %>
            <% end %>
            <div class="caption">
              <%= link_to '商品名称', product_path(:fake_id), class: 'truncate' %>
            </div>
            <div class="prices">
              <span class="original-price">￥原价</span>
              <span class="sale-price">￥现价</span>

              <%= link_to '#', class: 'add-to-cart' do %>
                <%= fa_icon 'shopping-cart' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="clearfix">
      <nav class="pull-right">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="col-sm-3 col-sm-pull-9">
    <%= render 'shared/sidebar' %>
  </div>
</div>

