<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <%= render 'shared/search' %>
  </div>
</div>

<div class="exhibit-images clearfix">
  <ul class="pgwSlider">
    <% 3.times do |i| %>
      <% idx = i + 1 %>
      <li>
        <%= image_tag "http://placehold.it/300x200?text=缩略图#{idx}", alt: '', data:{'large-src' => "http://placehold.it/1000x750?text=大图#{idx}"} %>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $('.pgwSlider').pgwSlider({autoSlide: false});
</script>

<form action="/shopping_cart" method="get" class="product-meta clearfix">
  <h3 class="title">商品名称</h3>

  <dl>
    <dt>价格</dt>
    <dd>
      <span class="original-price">原价</span>
      <span class="sale-price">现价</span>
    </dd>
  </dl>

  <dl>
    <dt>种类</dt>
    <dd>
      <label><input type="radio" name="type"><span>种类一</span></label>
      <label><input type="radio" name="type" checked><span>种类二</span></label>
      <label><input type="radio" name="type"><span>种类三</span></label>
    </dd>
  </dl>
  
  <dl>
    <dt>颜色</dt>
    <dd>
      <label><input type="radio" name="color" checked><span>颜色一</span></label>
      <label><input type="radio" name="color"><span>颜色二</span></label>
      <label><input type="radio" name="color"><span>颜色三</span></label>
    </dd>
  </dl>

  <dl>
    <dt>数量</dt>
    <dd>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><%= fa_icon 'minus' %></button>
        </span>
        <input type="text" class="form-control" value="1">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><%= fa_icon 'plus' %></button>
        </span>
      </div>
    </dd>
  </dl>
  <button class="btn-round pull-right" type="submit">加入购物车</button>
</form>

<div class="product-detail">
  <h3 class="title">商品参数</h3>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>产品材料</th>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, consequuntur!</td>
      </tr>
      <tr>
        <th>表面做工</th>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      </tr>
      <tr>
        <th>制造工艺</th>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam?</td>
      </tr>
      <tr>
        <th>产品特点</th>
        <td>Lorem ipsum dolor sit amet, consectetur.</td>
      </tr>
      <tr>
        <th>产品标准</th>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
      </tr>
      <tr>
        <th>选定列表</th>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="recommendation">
  <h3 class="title">推荐</h3>
  <div class="owl-carousel owl-theme">
    <% 5.times do %>
      <%= link_to product_path(:fake_id) do %>
        <figure>
          <%= image_tag 'http://placehold.it/200?text=展示图' %>
          <figcaption>￥价格</figcaption>
        </figure>
      <% end %>
    <% end %>
  </div>
</div>






