<!DOCTYPE html>
<html>
<head>
  <title>乐屋 | Lewoo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv-printshiv' %>
    <%= javascript_include_tag 'respond' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="page-<%= controller.menu %>">
  <div class="container">
    <%= render 'shared/header' %>

    <main><%= yield %></main>

    <%= render 'shared/footer' %>
  </div>
</body>
</html>
